name: CI Backend

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      mongo:
        image: mongo:6
        ports:
          - 27017:27017

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install
        working-directory: Back-end

      - name: Run tests
        run: npm test
        working-directory: Back-end
        env:
          DB_LINK: mongodb://127.0.0.1:27017/test_db
          NODE_ENV: test
